In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/coronavirus/sequences.csv')

In [ ]:
df

        Accession  ... Collection_Date
0        MZ206017  ...      2020-10-10
1        MZ206018  ...      2020-10-10
2        MZ206020  ...      2020-10-10
3        MZ206021  ...      2020-10-10
4        MZ206131  ...      2020-10-10
...           ...  ...             ...
445525   MN985325  ...      2020-01-19
445526   MN970003  ...      2020-01-08
445527   MN970004  ...      2020-01-13
445528  NC_045512  ...          Dec-19
445529   MN908947  ...          Dec-19

[445530 rows x 12 columns]

In [ ]:
print(df.columns)

Index(['Accession', 'Submitters', 'Release_Date', 'Pangolin', 'Species',
       'Molecule_type', 'Length', 'Geo_Location', 'USA', 'Host',
       'Isolation_Source', 'Collection_Date'],
      dtype='object')

In [ ]:
selected_df = df[['Accession', 'Release_Date','Species','Length','Host','Geo_Location','Collection_Date']]
#Rename the column
selected_df = selected_df.rename(columns={'Release_Date':'Release Date', 'Geo_Location':'Geo Location', 'Collection_Date':'Collection Date'})

In [ ]:
selected_df

        Accession          Release Date  ... Geo Location  Collection Date
0        MZ206017  2021-05-16T00:00:00Z  ...         Iran       2020-10-10
1        MZ206018  2021-05-16T00:00:00Z  ...         Iran       2020-10-10
2        MZ206020  2021-05-16T00:00:00Z  ...         Iran       2020-10-10
3        MZ206021  2021-05-16T00:00:00Z  ...         Iran       2020-10-10
4        MZ206131  2021-05-16T00:00:00Z  ...         Iran       2020-10-10
...           ...                   ...  ...          ...              ...
445525   MN985325  2020-01-24T00:00:00Z  ...          USA       2020-01-19
445526   MN970003  2020-01-23T00:00:00Z  ...     Thailand       2020-01-08
445527   MN970004  2020-01-23T00:00:00Z  ...     Thailand       2020-01-13
445528  NC_045512  2020-01-13T00:00:00Z  ...        China           Dec-19
445529   MN908947  2020-01-12T00:00:00Z  ...        China           Dec-19

[445530 rows x 7 columns]

In [ ]:
#Check the formate of release date
selected_df['Release Date'][10:50]

4950    2021-05-14T00:00:00Z
4951    2021-05-14T00:00:00Z
4952    2021-05-14T00:00:00Z
4953    2021-05-14T00:00:00Z
4954    2021-05-14T00:00:00Z
                ...
5045    2021-05-14T00:00:00Z
5046    2021-05-14T00:00:00Z
5047    2021-05-14T00:00:00Z
5048    2021-05-14T00:00:00Z
5049    2021-05-14T00:00:00Z
Name: Release Date, Length: 100, dtype: object

In [ ]:
#Keep only the date and remove the rest
selected_df['Release Date'] = selected_df['Release Date'].str[:10]

In [ ]:
selected_df

        Accession Release Date  ... Geo Location  Collection Date
0        MZ206017   2021-05-16  ...         Iran       2020-10-10
1        MZ206018   2021-05-16  ...         Iran       2020-10-10
2        MZ206020   2021-05-16  ...         Iran       2020-10-10
3        MZ206021   2021-05-16  ...         Iran       2020-10-10
4        MZ206131   2021-05-16  ...         Iran       2020-10-10
...           ...          ...  ...          ...              ...
445525   MN985325   2020-01-24  ...          USA       2020-01-19
445526   MN970003   2020-01-23  ...     Thailand       2020-01-08
445527   MN970004   2020-01-23  ...     Thailand       2020-01-13
445528  NC_045512   2020-01-13  ...        China           Dec-19
445529   MN908947   2020-01-12  ...        China           Dec-19

[445530 rows x 7 columns]

In [ ]:
#Only keeps the rows after 
record_date = '2020-07-20'
#Select the genes after the given date
selected_df = selected_df[(selected_df['Release Date'] > record_date)]
selected_df

       Accession Release Date  ... Geo Location  Collection Date
0       MZ206017   2021-05-16  ...         Iran       2020-10-10
1       MZ206018   2021-05-16  ...         Iran       2020-10-10
2       MZ206020   2021-05-16  ...         Iran       2020-10-10
3       MZ206021   2021-05-16  ...         Iran       2020-10-10
4       MZ206131   2021-05-16  ...         Iran       2020-10-10
...          ...          ...  ...          ...              ...
434283  MT786331   2020-07-21  ...       Turkey       2020-07-15
434284  MT786334   2020-07-21  ...       Turkey       2020-07-15
434285  MT786335   2020-07-21  ...       Turkey       2020-07-15
434286  MT786336   2020-07-21  ...       Turkey       2020-07-15
434287  MT786337   2020-07-21  ...       Turkey       2020-07-15

[434288 rows x 7 columns]